<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JasmineCoffee</string>
	<key>ordering</key>
	<array>
		<string>3A83E471-DD28-4D50-B4ED-1EE722E72C62</string>
		<string>3D1E3062-1945-4F3A-A3EE-EDB9DEA0DFF8</string>
		<string>A5A645E0-D35C-4465-92EB-30D67D8FEEB4</string>
	</array>
	<key>uuid</key>
	<string>86AF3759-B1AD-48B0-AB31-01F2343486C0</string>
</dict>
</plist>
